{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>

	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Users</h1>
		</div>
	</div>
{% for user in user %}
<div class = "row" >
<div class="col-md-1"></div>

<div class="col-md-10 restaurant-list"><h3>{{user.name}}</h3>
</div>
<div class="col-md-1"></div>
</div>
{% endfor %}
{% endblock %}
